<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="HoursRate" value="2"/>
    <add key="ServerDatabase" value="localhost"/>
    <add key="Database" value="Saigsa"/>
    <add key="RootPath" value="C:/Users/enriq/Downloads/XmlResources/"/>
    <add key="UrlXmlPlaces" value="https://publicacionexterna.azurewebsites.net/publicaciones/places"/>
    <add key="UrlXmlPrices" value="https://publicacionexterna.azurewebsites.net/publicaciones/prices"/>  
  </appSettings>  
</configuration>